<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Rubik:wght@900&display=swap');
 body{
	font-family: 'Poppins', sans-serif;
}
.back_round {

    /* background-image: url(https://i.imgflip.com/21kqbw.jpg); */
    background-image: url(https://catherineasquithgallery.com/uploads/posts/2021-02/1612438661_187-p-korichnevo-zheltii-fon-226.jpg);
    background-repeat: no-repeat;
     background-size: 100% 100%;
       
} 

table{
    
    border-collapse: collapse;
    border: 1px solid black;
    margin: 0 auto 0 auto;
}
th, td { 
        
    border: 1px solid black;
    padding: 10px;
 }  
h1,h2,h3,h4,h5,h6{
    text-align: center;
}
img{
    
    width: 45%;
    display: block;
    margin: 0 auto 0 auto;
    text-align: center;
}

  </style>
</head>
<body>
<div class = "back_round">
{{ content | safe }}
</div>  
</body>
</html>